In [5]:
import numpy as np
import pandas as pd

# FX Fixes

In [108]:
fx_london_fix = pd.read_excel('../data/fx_fixes.xlsx', sheet_name='LON_Fix', index_col=0, parse_dates=True)
fx_ny_fix = pd.read_excel('../data/fx_fixes.xlsx', sheet_name='NY_Fix', index_col=0, parse_dates=True)
fx_london_fix.columns = [col.split()[0] for col in fx_london_fix.columns]
fx_ny_fix.columns = [col.split()[0] for col in fx_ny_fix.columns]

In [112]:
def convert_fx(df: pd.DataFrame):
    new_df = df.copy()
    for col in df.columns: 
        if col[:3] == 'USD': 
            new_df[col[3:] + 'USD'] = 1/df[col]
            new_df.drop(col, axis=1, inplace=True)
            
    return new_df
fx_london_fix = convert_fx(fx_london_fix)
fx_ny_fix = convert_fx(fx_ny_fix)

In [110]:
fx_london_fix.head()

,AUDUSD,DKKUSD,EURUSD,GBPUSD,NZDUSD,CADUSD,CHFUSD,JPYUSD,NOKUSD,SEKUSD
Date,,,,,,,,,,
2023-11-15,0.6505,6.8700,1.0857,1.2461,0.6037,0.729980,1.124986,0.006648,0.092100,0.094641
2023-11-14,0.6495,6.8603,1.0873,1.2493,0.5990,0.729182,1.123217,0.006640,0.091831,0.094371
2023-11-13,0.6384,6.9738,1.0696,1.2268,0.5886,0.725111,1.108647,0.006595,0.090293,0.092239
2023-11-10,0.6357,6.9832,1.0679,1.2217,0.5888,0.724113,1.108156,0.006598,0.089834,0.091628
2023-11-09,0.6413,6.9662,1.0705,1.2267,0.5939,0.726216,1.110494,0.006619,0.089697,0.092115

In [111]:
fx_ny_fix.head()

,AUDUSD,EURUSD,GBPUSD,NZDUSD,CADUSD,CHFUSD,DKKUSD,JPYUSD,NOKUSD,SEKUSD
Date,,,,,,,,,,
2023-11-15,0.6506,1.0853,1.2457,0.6035,0.729767,1.124986,0.145507,0.006646,0.092051,0.094603
2023-11-14,0.6507,1.0879,1.2499,0.6008,0.730300,1.124733,0.145845,0.006650,0.091894,0.094410
2023-11-13,0.6377,1.0698,1.2279,0.5877,0.724375,1.109139,0.143437,0.006591,0.090213,0.092226
2023-11-10,0.6361,1.0686,1.2227,0.5891,0.724638,1.107788,0.143281,0.006600,0.089983,0.091773
2023-11-09,0.6367,1.0668,1.2223,0.5894,0.724218,1.107542,0.143039,0.006607,0.089118,0.091519

# Swaps Fixes

In [113]:
countries_to_fx = {
    'AD': 'AUDUSD',
    'CD': 'CADUSD', 
    'SF': 'CHFUSD', 
    'DK': 'DKKUSD',
    'EU': 'EURUSD',
    'BP': 'GBPUSD',
    'JY': 'JPYUSD',
    'NK': 'NOKUSD', 
    'ND': 'NZDUSD',
    'SK': 'SEKUSD',
    'US': 'USD',
}

In [114]:
swaps_london_fix = pd.read_excel('../data/swaps_fixes.xlsx', sheet_name='LON_Fix', index_col=0, parse_dates=True)
swaps_ny_fix = pd.read_excel('../data/swaps_fixes.xlsx', sheet_name='NY_Fix', index_col=0, parse_dates=True)
swaps_london_fix.columns = [countries_to_fx[col.split()[0][:2]] for col in swaps_london_fix.columns]
swaps_ny_fix.columns = [countries_to_fx[col.split()[0][:2]] for col in swaps_ny_fix.columns]

In [115]:
swaps_london_fix.head()

,AUDUSD,CADUSD,CHFUSD,DKKUSD,EURUSD,GBPUSD,JPYUSD,NOKUSD,NZDUSD,SEKUSD,USD
Date,,,,,,,,,,,
2023-11-15,4.6102,5.1435,NaN,3.6404,3.5030,NaN,NaN,4.602,5.1913,3.7375,NaN
2023-11-14,4.6369,4.8088,NaN,3.6530,3.5055,NaN,NaN,4.636,5.3350,3.7655,NaN
2023-11-13,4.7344,4.9851,NaN,3.7260,3.5825,NaN,NaN,4.707,5.3700,3.8940,NaN
2023-11-10,4.6950,4.9721,NaN,3.7050,3.5720,NaN,NaN,4.702,5.3150,3.8730,NaN
2023-11-09,4.6690,4.9355,NaN,3.6667,3.5230,NaN,NaN,4.631,5.3050,3.8269,NaN

In [116]:
swaps_ny_fix.head()

,AUDUSD,CADUSD,CHFUSD,DKKUSD,EURUSD,GBPUSD,JPYUSD,NOKUSD,NZDUSD,SEKUSD,USD
Date,,,,,,,,,,,
2023-11-15,4.6093,5.1435,NaN,3.6392,3.5010,NaN,NaN,4.602,5.1913,3.7390,NaN
2023-11-14,4.6508,4.8063,NaN,3.6530,3.5050,NaN,NaN,4.636,5.2200,3.7655,NaN
2023-11-13,4.7309,4.9851,NaN,3.7260,3.5825,NaN,NaN,4.707,5.3500,3.8804,NaN
2023-11-10,4.6950,4.9655,NaN,3.7050,3.5720,NaN,NaN,4.702,5.3150,3.8677,NaN
2023-11-09,4.6883,4.9934,NaN,3.6667,3.5245,NaN,NaN,4.631,5.3250,3.8269,NaN